.root{
    -fx-background-color: #111565;
}

.label{
    -fx-font-size: 40;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: "white";
    -fx-alignment: center;
}
/*.button{*/

/*    -fx-background-color: #20B2AA;*/
/*    -fx-background-radius: 15px;*/
/*    -fx-text-fill: #ffffff;*/
/*}*/
/*#titleLabel{*/
/*    -fx-font-size: 70;*/
.button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #9b9d9e 0%, #7a7c7d 100%),
            #7a7c7d,
            #9b9d9e,
            radial-gradient(center 50% 50%, radius 100%, #7a7c7d, #9b9d9e);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.3em;

}
.button:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #9b9d9e 0%, #7a7c7d 100%),
            #7a7c7d,
            #9b9d9e,
            radial-gradient(center 50% 50%, radius 100%, #9b9d9e, #7a7c7d);
}
.button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.button Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

#exit{
    -fx-background-color: #801c1c;
    -fx-text-fill: #0ddeb4;
}
#coinSlot{
    -fx-background-color: rgb(193, 169, 50);
}
#freeCoins{
    -fx-background-color: rgb(193, 169, 50);
}
#lucky7{
    -fx-background-color: rgb(193, 169, 50);
}
#medal{
    -fx-background-color: rgb(193, 169, 50);
}
#playLudo{
    -fx-background-color: rgb(193, 169, 50);
}
#stuff{
    -fx-background-color: rgb(193, 169, 50);
}
#trim{
    -fx-background-color: rgb(193, 169, 50);
}

#vsComputer{
    -fx-background-color: rgb(193, 169, 50);
}
#player1VsPlayer2{
    -fx-background-color: rgb(193, 169, 50);
}
#people{
    -fx-background-color: rgb(193, 169, 50);
}
#onlineMultiplayer{
    -fx-background-color: rgb(193, 169, 50);
}
#playWithFriend{
    -fx-background-color: rgb(193, 169, 50);
}